.container {
    margin-top: 50px;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-group-item img {
    max-width: 100px;
    margin-right: 20px;
}

.list-group-item .details {
    flex-grow: 1;
}

/* Custom styles for the offcanvas detailed description */
.offcanvas-body {
    padding: 20px;
}

.list-group-item .btn {
    transition: transform 0.3s ease, background-image 0.3s ease;
}

#scrollspyHeading1 .btn:hover {
    background-image: url('../Assets/Gifs/Escaflowne.gif'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    color: transparent;
    transform: scale(1.2, 1.5); 
}
#scrollspyHeading2 .btn:hover {
    background-image: url('../Assets/Gifs/Blue_seed.webp'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    color: transparent;
    transform: scale(1.2, 1.5); 
}
#scrollspyHeading3 .btn:hover {
    background-image: url('../Assets/Gifs/Patlabor.gif'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    color: transparent;
    transform: scale(1.2, 1.5); 
}
#scrollspyHeading4 .btn:hover {
    background-image: url('../Assets/Gifs/BBGCrisis2040.gif'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    color: transparent;
    transform: scale(1.2, 1.5); 
}
#scrollspyHeading5 .btn:hover {
    background-image: url('../Assets/Gifs/RoLW.gif'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    color: transparent;
    transform: scale(1.2, 1.5); 
}
#scrollspyHeading6 .btn:hover {
    background-image: url('../Assets/Gifs/salyers.gif'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    color: transparent;
    transform: scale(1.2, 1.5); 
}
#scrollspyHeading7 .btn:hover {
    background-image: url('../Assets/Gifs/X.webp'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    color: transparent;
    transform: scale(1.2, 1.5); 
}
#scrollspyHeading8 .btn:hover {
    background-image: url('../Assets/Gifs/MKR.gif'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    color: transparent;
    transform: scale(1.2, 1.5); 
}
 #scrollspyHeading9 .btn:hover {
    background-image: url('../Assets/Gifs/SaberJ.gif'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    color: transparent;
    transform: scale(1.2, 1.5); 
}
#scrollspyHeading10 .btn:hover {
    background-image: url('../Assets/Gifs/GTO.gif'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    color: transparent;
    transform: scale(1.2, 1.5); 
}
#scrollspyHeading11 .btn:hover {
    background-image: url('../Assets/Gifs/Ninjascroll.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    color: transparent;
    transform: scale(1.2, 1.5); 
}
#scrollspyHeading12 .btn:hover {
    background-image: url('../Assets/Gifs/Alita.gif'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    color: transparent;
    transform: scale(1.2, 1.5); 
}
#scrollspyHeading13 .btn:hover {
    background-image: url('../Assets/Gifs/VHunterD.webp'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    color: transparent;
    transform: scale(1.2, 1.5); 
}
#scrollspyHeading14 .btn:hover {
    background-image: url('../Assets/Gifs/Blood.gif'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    color: transparent;
    transform: scale(1.2, 1.5); 
}
#scrollspyHeading15 .btn:hover {
    background-image: url('../Assets/Gifs/SaintSeiya.gif'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    color: transparent;
    transform: scale(1.2, 1.5); 
}
#scrollspyHeading16 .btn:hover {
    background-image: url('../Assets/Gifs/Kenshin.gif'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    color: transparent;
    transform: scale(1.2, 1.5); 
}
#scrollspyHeading17 .btn:hover {
    background-image: url('../Assets/Gifs/KareKano.gif'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    color: transparent;
    transform: scale(1.2, 1.5); 
}
#scrollspyHeading18 .btn:hover {
    background-image: url('../Assets/Gifs/BlackJack.gif'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    color: transparent;
    transform: scale(1.2, 1.5); 
}
#scrollspyHeading19 .btn:hover {
    background-image: url('../Assets/Gifs/OgreSlayer.gif'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    color: transparent;
    transform: scale(1.2, 1.5); 
} 
#scrollspyHeading20 .btn:hover {
    background-image: url('../Assets/Gifs/PerfectBlue.gif'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    color: transparent;
    transform: scale(1.2, 1.5); 
}
#scrollspyHeading21 .btn:hover {
    background-image: url('../Assets/Gifs/zenki.gif'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    color: transparent;
    transform: scale(1.2, 1.5); 
}
#scrollspyHeading22 .btn:hover {
    background-image: url('../Assets/Gifs/Kyo.gif'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    color: transparent;
    transform: scale(1.2, 1.5); 
}
#scrollspyHeading23 .btn:hover {
    background-image: url('../Assets/Gifs/elHazard.gif'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    color: transparent;
    transform: scale(1.2, 1.5); 
}
#scrollspyHeading24 .btn:hover {
    background-image: url('../Assets/Gifs/Lain.gif'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    color: transparent;
    transform: scale(1.2, 1.5); 
}
#scrollspyHeading25 .btn:hover {
    background-image: url('../Assets/Gifs/LupinIII.gif'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    color: transparent;
    transform: scale(1.2, 1.5); 
}
#scrollspyHeading26 .btn:hover {
    background-image: url('../Assets/Gifs/CityHunter.gif'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    color: transparent;
    transform: scale(1.2, 1.5); 
}