.container {
    margin-top: 50px;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-group-item img {
    max-width: 100px;
    margin-right: 20px;
}

.list-group-item .details {
    flex-grow: 1;
}

/* Custom styles for the offcanvas detailed description */
.offcanvas-body {
    padding: 20px;
}

.list-group-item .btn {
    transition: transform 0.3s ease, background-image 0.3s ease;
}

#scrollspyHeading1 .btn:hover {
    background-image: url('../Assets/Gifs/Escaflowne.gif'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    color: transparent;
    transform: scale(1.2, 1.5); 
}
#scrollspyHeading2 .btn:hover {
    background-image: url('../Assets/Gifs/Blue_seed.webp'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    color: transparent;
    transform: scale(1.2, 1.5); 
}
#scrollspyHeading3 .btn:hover {
    background-image: url('../Assets/Gifs/Patlabor.gif'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    color: transparent;
    transform: scale(1.2, 1.5); 
}
#scrollspyHeading4 .btn:hover {
    background-image: url('../Assets/Gifs/BBGCrisis2040.gif'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    color: transparent;
    transform: scale(1.2, 1.5); 
}
#scrollspyHeading5 .btn:hover {
    background-image: url('../Assets/Gifs/RoLW.gif'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    color: transparent;
    transform: scale(1.2, 1.5); 
}
#scrollspyHeading6 .btn:hover {
    background-image: url('../Assets/Gifs/salyers.gif'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    color: transparent;
    transform: scale(1.2, 1.5); 
}
#scrollspyHeading7 .btn:hover {
    background-image: url('../Assets/Gifs/X.webp'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    color: transparent;
    transform: scale(1.2, 1.5); 
}
#scrollspyHeading8 .btn:hover {
    background-image: url('../Assets/Gifs/MKR.gif'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    color: transparent;
    transform: scale(1.2, 1.5); 
}