.container {
    margin-top: 50px;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-group-item img {
    max-width: 100px;
    margin-right: 20px;
}

.list-group-item .details {
    flex-grow: 1;
}

/* Custom styles for the offcanvas detailed description */
.offcanvas-body {
    padding: 20px;
}

#animationImage {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

#animationAuthor {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

#animationDescription {
    font-size: 1em;
    line-height: 1.5;
    color: #555;
}

#Scaflowne:hover + .hover-gif {
    display: block;
}